{% extends 'base.html' %}

{% block content %}
    <div class="col-3">
        <h2 class="title-h2">Выбрать модель</h2>
        <form action="/" id="chose-car-form">
            {% csrf_token %}
            {{ form.model_title }}
            <script> <!-- https://selectize.github.io/selectize.js/ - использовал этот autocomplete для select поля -->
				$('#id_model_title').selectize({
					create: true,
					sortField: {
						field: 'text',
						direction: 'asc'
					},
					dropdownParent: 'body'
				});
            </script>
        </form>

    </div>
    <div class="col-9" id="model-price-block">
        {% include 'price-block.html' %}
    </div>
{% endblock %}